@import "compass/typography/vertical_rhythm";
@import "shared/_variables";
@import "shared/_mixins";

.post {

	span.meta { 
		display: block;
		text-align: center;
	}

	p {
		@include rhythm(1, 0, 0, 1, 16px);
	}

	ul, ol {
		margin: 0 0 0 2em;
		font-style: italic;
		@include apply-side-rhythm-border(left);
		border-left-color: $rhythm-border-color;
		li {
			margin-bottom: 0.5em;
		}
	}

	h4,h5 {
		text-align: center;
	}

	h4 {
		@include adjust-font-size-to(30px);
		@include rhythm(0.3, 0, 0, 0.3, 30px);

		@include breakpoint(so-narrow-that-header-wraps) {
			font-weight: 700;
			@include adjust-font-size-to(24px);
			@include adjust-leading-to(1.25);			
		}

	}

	h5 {
		@include adjust-font-size-to(25px);
		@include rhythm(0.3, 0, 0, 0.3, 25px);
	}
}