@import "compass/typography/vertical_rhythm";
@import "shared/_mixins";
@import "shared/_variables";
@import "shared/modules/_blog-posts";

.resume {

  .core-skills {
    float: left;
    padding: 0 3em;
    @include breakpoint(so-narrow-that-header-wraps) {
      padding: 0;
    }    
  }

  .core-skills li {
    float: left;
    width: 30%;
    margin-right: 1.25em;
    margin-bottom: 4em;
    height: 70px;

    @include breakpoint(resume-core-skills-wrap) {
      float: none;
      height: auto;
      width: 100%;
      margin-bottom: 0.5em;
    }
  }

  .core-skills li .additional {
    display: block;
    color: #666;
    @include adjust-font-size-to(14px, 0.75);
    @include rhythm(0.3,0,0,0,12px);
  }

  header h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    padding: 0.4em 0;
    border-bottom: solid #CCC 1px;
  }

  ol li {
    clear: both;
  }

  ol .vevent {
    float: left;
    width: 100%;
    margin-bottom: 3em;
  }


  section#employment ol.employment-history header,
  #education ol li .category {
    @mixin headerDetailsOnTheSide {
      float: left;
      width: 25%;
      text-align: right;
    }

    @include breakpoint(wide-hero) {
      @include headerDetailsOnTheSide
    }

    @include breakpoint(really-wide) {
      @include headerDetailsOnTheSide
    }
  }

  section#employment ol.employment-history header h3 {
    text-align: right;
    margin-bottom: 0.4em;

    @include breakpoint(hero-gets-too-narrow) {
      text-align: left;
    }

    @include breakpoint(so-narrow-that-header-wraps) {
      text-align: center;
    }

  }

  header h3 .title,
  #education .category .title {
    float: none;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: normal;
  }

  #employment ol.employment-history header h3 .org,
  #education ol header h3 .org {
    display: block;
    font-size: 1.2em;
    float: none;
    display: block;
    clear: both;
    margin-top: 0.3em;
  }

  #education .title span {
    text-transform: lowercase;
  }

  section#employment ol.employment-history header .duration {
    margin-bottom: 0.6em;
  }

  section#employment ol.employment-history header .overview {
    @include adjust-font-size-to(14px);
    @include rhythm(1,0,0,1,14px);
    width: 100%;
  }

  section#employment ol.employment-history header .overview p {
    color: #666;
  }

  #employment ol.employment-history .skills,
  #education .summary {

    @mixin detailInline {
      float: right;
      width: 70%;
    }

    @include breakpoint(wide-hero) {
      @include detailInline
    }

    @include breakpoint(really-wide) {
      @include detailInline
    }

  }

  #employment ol.employment-history section.skills h4 {
    font-weight: normal;
    margin-bottom: 0.1em;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    line-height: 1.3em;
  }

  section#employment ol.employment-history section.skills h4:first-child {
    margin-top: 0;
  }

  section#employment ol.employment-history section.skills ul {
    padding: 0;
  }

  section#employment ol.employment-history section.skills ul li {
    margin-bottom: 0.4em;
  }

  section#employment ol.employment-history section.skills ul li ul {
    margin-top: 0.5em;
    margin-left: 1.4em;
    border-left: solid 2px #CCC;
    padding-left: 0.5em;

    @include breakpoint(so-narrow-that-header-wraps) {
      border-left: none;
      font-style: italic;
    }
  }

  #employment,
  #education {
    clear: both;
  }

  #education .adr {
    margin: 0.3em 0;
  }

}

address {
  width: 100%;
  text-align: center;
}

address span {
  display: block;
  margin-bottom: 0.3em;
}