body {
  font-family: $primaryFontFamily;
  font-size: 100%;
  background: #EEE;
}

a {
  color: $primaryLinkColor;
}

a:hover {
  color: #2BC5D7;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

p { @include contentBlock(); }

div.wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

div.page-content {
  max-width: 600px;  
}

div.page-content {
  line-height: $baseLineHeight;
}

article { clear: both; }