@import "_variables";
@import "_mixins";


body {
  font-family: $primaryFontFamily;
  background: $mainBackgroundColor;
}

a {
  color: $primaryLinkColor;
}

a:hover {
  color: #2BC5D7;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  @include breakpoint(so-narrow-that-header-wraps) {
    width: 94%;
  }

  @include breakpoint(hero-gets-too-narrow) {
    width: 93%;
  }
}

.page-content {
  max-width: $wideWidth;  
  margin-bottom: $spaceBetweenContentAndFooter;
}