/** Chrome Font-Face rendering fixes **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;  
  src: url(../assets/fonts/SanchezFS/sanchez-regular-webfont.svg#sanchezregular) format('svg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;  
  src: url(../assets/fonts/Crete-Round/creteround-regular-webfont.svg#crete_roundregular) format('svg');
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
  font-family: 'Antic Slab';
  font-style: normal;
  font-weight: 400;  
  src: url(../assets/fonts/Antic-Slab/anticslab-regular-webfont.svg#antic_slabregular) format('svg');
  }
}