@function pixels-to-ems($px, $baseline: 16) {
	@return ($px/$baseline) + 0em;
}

@mixin contentBlock() {
	margin-bottom: $contentBlockPaddingBottom;
}

@mixin clearFix() {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin breakpoint($point) {
  @if $point == hero-gets-to-narrow {
    @media (max-width: 711px) { @content; }
  }
}

// From: https://gist.github.com/Integralist/3931680
@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}