// Layout
$mainBackgroundColor		 : #EEE;
$spacing-base                : 1rem;
$spacing-large               : 1.75rem;
$contentBlockPaddingBottom   : 1em;
$spaceBetweenContentAndFooter: 5em;
$wideWidth  			     : 1000px;
$narrowWidth				 : 800px;		// Narrow down characters per line on a more "read-heavy" page like a blog post
$narrowReadingWidth			 : 600px;		// Narrow down characters per line on a more "read-heavy" page like a blog post

// Type
$base-font-size 	: 18px;
$base-line-height	: 24px;

$fontSize-small     : 0.9rem;
$fontSize-base      : 1rem;
$fontSize-large     : 1.2rem;

$lineSpacing-small  : 0.5rem;

$siteTitleFontFamily: 'roboto condensed', sans-serif;
$primaryFontFamily  : 'Karla', sans-serif;
$secondaryFontFamily: 'Sanchez', serif;
$monoSpaceFontFamily: monospace;
$primaryColor 		: #000;
$primaryColorLighter: #999;
$primaryLinkColor   : #2B90D7;

// Code
$codeBackgroundColor: #333;
$codeTextColor: #FFF;
$heroBackgroundColorWhenLtIe9: lighten(#2B90D7, 25%);

// Site Title Header
$siteTitleTextColor  : #FFF;
$siteTitleShadowColor: #000;

// Primary Navigation
$navBarBackgroundColor: $mainBackgroundColor;
$navVerticalSpacing	  : pixels-to-ems(7);
$primaryNavColor      : #999;

// Rythm borders
$rhythm-border-color: #CCC;
