// Layout
$mainBackgroundColor		 : #EEE;
$contentBlockPaddingBottom   : 1em;
$spaceBetweenContentAndFooter: 5em;
$wideWidth  			     : 1000px;
$narrowWidth				 : 600px;		// Narrow down characters per line on a more "read-heavy" page like a blog post


// Type
$base-font-size 	: 16px;
$base-line-height	: 24px;
$primaryFontFamily  : 'Antic Slab', serif;
$secondaryFontFamily: 'Sanchez', serif;
$monoSpaceFontFamily: monospace;
$primaryColor 		: #000;
$primaryColorLighter: #999;
$primaryLinkColor   : #2B90D7;

// Code
$codeBackgroundColor: #333;
$codeTextColor: #FFF;

// Site Title Header
$siteTitleTextColor  : #FFF;
$siteTitleShadowColor: #000;

// Primary Navigation
$navBarBackgroundColor: $mainBackgroundColor;
$navVerticalSpacing	  : pixels-to-ems(7);
$primaryNavColor      : #999;