@import "compass/typography/vertical_rhythm";
@import "shared/_mixins";
@import "shared/_variables";

.homepage {

  text-align: center;

  header {
    h1 {
      @include adjust-font-size-to(30px);
      text-transform: uppercase;
      color: #1E303E;
    }
  }

  section {
    text-align: left;
    width: auto;
    margin: 0 auto;
    margin-bottom: 2em;
    background: #FFF;
    padding: 1em;
  }

  @include breakpoint(so-narrow-that-header-wraps) {
    section {
      width: 100%;
      background: transparent;
      padding: 0;
    }
  }
}