@import "compass/typography/vertical_rhythm";
@import "shared/_mixins";
@import "shared/_variables";

.resume {

    .coreSkills li {
        display: inline-block;
        width: 33.3%;
        vertical-align: top;
        margin-bottom: $spacing-base;

        padding-left: $spacing-large;
        padding-right: $spacing-large;
        box-sizing: border-box;

        &:nth-child(3n + 1) { padding-left: 0; }
        &:nth-child(3n + 3) { padding-right: 0; }
    }

    .coreSkills-title {
        font-size: 1.2rem;
    }

  .experience-title,
  .education-title {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0.4em 0;
    border-bottom: solid #CCC 1px;
    font-size: 1.66667em;
    line-height: 1.6em;
  }

  ol li {
    clear: both;
  }

  ol .vevent {
    float: left;
    width: 100%;
    margin-bottom: 3em;
  }


  #employment .employment-history header,
  #education ol li .category {
    @mixin headerDetailsOnTheSide {
      float: left;
      width: 25%;
      text-align: right;
    }

    @include breakpoint(wide-hero) {
      @include headerDetailsOnTheSide
    }

    @include breakpoint(really-wide) {
      @include headerDetailsOnTheSide
    }
  }

  .employment-history-header {
    text-align: right;
    margin-bottom: 0.4em;

    @include breakpoint(hero-gets-too-narrow) {
      text-align: left;
    }

    @include breakpoint(so-narrow-that-header-wraps) {
      text-align: center;
    }

  }

  header h3 .title,
  #education .category .title {
    float: none;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: normal;
  }

  #employment ol.employment-history header h3 .org,
  #education ol header h3 .org {
    display: block;
    font-size: 1.2em;
    float: none;
    display: block;
    clear: both;
    margin-top: 0.3em;
  }

  #education .title span {
    text-transform: lowercase;
  }

  section#employment ol.employment-history header .duration {
    margin-bottom: 0.6em;

    @include breakpoint(so-narrow-that-header-wraps) {
      text-align: center;
    }
  }

  #employment ol.employment-history header .overview {
    @include adjust-font-size-to(14px);
    @include rhythm(1,0,0,1,14px);
    width: 100%;

    @include breakpoint(so-narrow-that-header-wraps) {
      text-align: center;
    }
  }

  #employment .employment-history header .overview p {
    color: #666;
  }

  #employment .employment-history .skills,
  #education .summary {

    @mixin detailInline {
      float: right;
      width: 70%;
    }

    @include breakpoint(wide-hero) {
      @include detailInline
    }

    @include breakpoint(really-wide) {
      @include detailInline
    }

  }

  #employment ol.employment-history section.skills h4 {
    font-weight: normal;
    margin-bottom: 0.1em;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    line-height: 1.3em;
  }

  section#employment ol.employment-history section.skills h4:first-child {
    margin-top: 0;
  }

  section#employment ol.employment-history section.skills ul {
    padding: 0;
  }

  section#employment ol.employment-history section.skills ul li {
    margin-bottom: 0.4em;
  }

  section#employment ol.employment-history section.skills ul li ul {

    @include apply-side-rhythm-border(left);
    border-left-color: $rhythm-border-color;
    margin: 1em 1em;
    font-style: italic;
    @include breakpoint(so-narrow-that-header-wraps) {
    }
  }

  #employment,
  #education {
    clear: both;
  }

  #education .adr {
    margin: 0.3em 0;
  }

}

address {
  width: 100%;
  text-align: center;
}

address span {
  display: block;
  margin-bottom: 0.3em;
}
