.page-header {
	h2 {
		color: $primaryColor;
		text-transform: uppercase;
		text-align: center;
		font-size: pixels-to-ems(32);
		margin-bottom: 0.5em;
		padding: 0.4em 0;
		border-bottom: solid #CCC 1px;
	}

	h3 {
		color: $primaryColorLighter;	
		text-align: center;
		font-size: pixels-to-ems(25);
	}
}