html.lte8 header.site-header {
  background-color: $heroBackgroundColorWhenLtIe9;
}

html.ie9 header.site-header {
  background-image: url(../assets/backgrounds/out-to-sea.jpg);
}

header.site-header {

  @include breakpoint(wide-hero) {
    @include hdAwareBackgroundImage("../assets/backgrounds/out-to-sea", "jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;  
  }

  @include breakpoint(hero-gets-too-narrow) {
    @include hdAwareBackgroundImage("../assets/backgrounds/out-to-sea-smaller", "jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  @include breakpoint(really-wide) {
    // Maybe a bigger res image for really wide displays?
  }

  @include breakpoint(so-narrow-that-header-wraps) {
    @include hdAwareBackgroundImage("../assets/backgrounds/out-to-sea-smaller-still", "jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  background-position: top;
  margin-bottom: 2em;
  padding: 3em 0 3em 0;
  background-size: 100%;

  @include breakpoint(so-narrow-that-header-wraps) {
    margin-bottom: 0;
    padding: 3em 0 0.5em 0;
  }

  p {
    font-family: $secondaryFontFamily;
    float: left;
    clear: both;
    @include adjust-font-size-to(27px);
    @include rhythm(0,0,0,0,27px);

    color: #FFF;
    @include text-shadow(#000 1px 1px 0);
    a { 
      @include text-shadow(darken($primaryLinkColor, 20%) 1px 1px 0); 
    }
  }


  @include breakpoint(hero-gets-too-narrow) {
    p {
      @include transition(all 0.5s);
      @include adjust-font-size-to(20px);
      @include adjust-leading-to(1.15);      
    }
  }

  @include breakpoint(so-narrow-that-header-wraps) {
    p {
      @include text-shadow(none);
      color: $primaryColor;
      @include adjust-font-size-to(16px);
      @include rhythm(0,0,0,1,16px);      
      text-align: center;
      a {
        @include text-shadow(none);        
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-weight: 100;
    @include adjust-font-size-to(50px);    
    @include rhythm(1,1,0,2,50px);
    text-align: center;
    clear: both;
    background: none;    
    a {
      color: $siteTitleTextColor;
      @include text-shadow($siteTitleShadowColor 2px 3px 0);
      text-decoration: none;
      font-family: $siteTitleFontFamily;
    }
  }  

  &:after { @include clearFix(); }
}