{% include doctype-and-htmlhead.html %}

<body>

<section class="information">

	<header class="siteHeader">
	  <h1 class="siteHeader-title">
	  	<a href="/" class="siteHeader-link">Open Heart Nerdery</a>
	  </h1>
		<section class="introduction">
		    <p>Programming and Web Development</p>
		</section>
	</header>

	<nav class="navigation">
		<ul>
	  		<li class="navigation-item"><a href="/" class="navigation-item-link">Home</a></li>
	  		<li class="navigation-item"><a href="/resume.html" class="navigation-item-link">Résumé</a></li>
	  </ul>
	</nav>
	
	<nav class="navigation">
		<h1 class="navigation-title">Recent Posts</h1>
		<ul>
		{% for post in site.posts %}
			<li class="navigation-item">
				<a href="{{post.url}}" class="navigation-item-link">{{ post.title }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>

</section><section class="content">

{{content}}

</section>

{% include google-analytics.html %}

{% include requirejs.html %}
</body>

</html>
