{% include doctype-and-htmlhead.html %}

<body>

{% include primary-navigation.html %}

<header class="site-header">

	<div class="wrapper">
		<h1 id="site-title"><a href="/">Open Heart Nerdery</a></h1>	
		<p>
            Hi, my name is Stuart Bennett. I'm a web developer. This is my bit of the web I've developed. You can
            <a href="/writing/about-the-site/">find out how I made the site</a> if you want.
		</p>
	</div>

</header>

<div class="page-content wrapper homepage">
	{{content}}
</div>

{% include google-analytics.html %}

</body>

</html>