<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />  
  <script type="text/javascript" src="scripts/modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Glegoo|Arvo:400,700,400italic,700italic|Antic+Slab|Kreon:300,400,700|Crete+Round:400,400italic|Copse|Sanchez:400italic,400|Trocchi|Bree+Serif|Enriqueta:400,700|Andada' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
 <link rel="stylesheet" href="/css/post.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,greek-ext,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic|Donegal+One|Noticia+Text:400,700,700italic,400italic|Merriweather:400,300italic,300,700,900italic,700italic,900,400italic|Cantarell:400,400italic,700,700italic|Habibi|Quando|Open+Sans:400,300,300italic,400italic,600,600italic,800italic,800,700italic,700|Poly:400,400italic|Shanti|Headland+One&subset=latin,latin-ext,vietnamese,cyrillic-ext,greek-ext,greek,cyrillic' rel='stylesheet' type='text/css'>


</head>
<body id="post">

<section class="primary-nav">
<div class="wrapper">
  <nav>
    <ul>
      <li {% if page.path == 'index.html' %} class="active"{% endif %}><a href="/">Home</a></li>
      <li {% if page.path == 'resume.html' %} class="active"{% endif %}><a href="/resume.html">Résumé</a></li>
    </ul>
  </nav>
</div>
</section>

<header class="site-header homepage">

  <div class="wrapper">
    <h1 id="site-title"><a href="/">Open Heart Nerdery</a></h1> 
  </div>

</header>

<article class="post wrapper page-content">
	<header class="page-header">
		<h2>{{ page.title }}</h2>
		<h3>{{ page.subtitle}}</h3>
    <span class="meta">{{ page.date | date_to_string }}</span>
	</header>

	{{ content }}

</article>

<script type="text/javascript">

/**
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19427421-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
**/
</script> 

</body>


</html>


