$fontFamily-primary: 'Source Sans Pro';

$fontSize-normal:  em(17);
$fontSize-large:   em(21);
$fontSize-larger:  em(27);
$fontSize-largest: em(32);

$spacing-smaller: em(7);
$spacing-small:   em(12);
$spacing-base:    em(20);
