@import "../../../libs/sass/neat/_neat";
.blogPost {
  max-width: 600px;
  margin: 0 auto;
}

.blogPost-header {
  margin-bottom: $spacing-small;
  text-align: center;

  @include media($breakpoint-wide) {
    text-align: left;
  }
}

.blogPost-header-title {
  font-size: $fontSize-larger;
  line-height: $spacing-base;
}

.blogPost-header-dateOfPublication {
  font-size: $fontSize-small;
}

.blogPost-content {

  h2 {
    font-size: $fontSize-large;
    line-height: $spacing-base;
    margin-bottom: $spacing-smaller;
  }

  p {
    font-weight: $fontWeight-light;
    line-height: $lineHeight-base;
    margin-bottom: $spacing-base;
  }
}
