$site-padding-top: em(60);
$site-content-padding: em(60);
$site-info-padding: em(30);

body {
  font-size: 100%;
  font-family: $fontFamily-primary;
}

.information,
.content {
	padding-top: $site-padding-top;
}

.information {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width:30%;
	padding-left: $site-info-padding;
	padding-right: $site-info-padding;
	box-sizing: border-box;
}

.content {
	width:70%;
	display: inline-block;
	padding-left: $site-content-padding;
	padding-right: $site-content-padding * 2;
	box-sizing: border-box;
}
