.introduction {
    font-style: italic;
    font-family: $fontFamily-secondary;
    font-size: $fontSize-smaller;
    line-height: $lineHeight-base;
    margin-bottom: $spacing-base;
    text-transform: uppercase;
}