.navigation {
    text-align: center;
    margin-bottom: $spacing-large;
}

.navigation-title {
    font-family: $fontFamily-secondary;
    font-size: $fontSize-smaller;
    line-height: $lineHeight-base;
    margin-bottom: $spacing-base;
    text-transform: uppercase;
}

.navigation-item {
	margin-bottom: $spacing-smaller;	
}

.navigation-item-link {
	font-size: $fontSize-small;
	line-height: $lineHeight-small;
}

.navigation-item-link {
	text-decoration: none;	
}