.siteHeader {
	margin-bottom: $spacing-small;
}

.siteHeader-title {
  font-size: $fontSize-small;
  margin-bottom: $spacing-smaller;
}

.siteHeader-link {
	text-decoration: none;
	color: $color-black;
}